.personal_information {
  width: 100%;
  min-height: 1680px;
  background: url("../../img/personal_BG.svg") no-repeat center;
  background-size: cover;
  padding-top: 147px;
}
.personal_information .container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}
.personal_information .pers_text {
  margin-top: 50px;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-align: center;
}
.personal_information .pers_photo {
  display: flex;
  justify-content: center;
  margin: 61px auto;
  width: 159px;
  height: 152px;
  border-radius: 55px;
}
.personal_information .wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 35px;
}
.personal_information .wrapper input {
  width: 100%;
  height: 108px;
  border: 2px solid #0761dc;
  border-radius: 10px;
  outline: none;
  background: #00000000;
  padding-left: 22px;
  color: #ffffff;
  font-size: 18px;
  transition: 0.2s ease;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #b5b5b5;
}
.personal_information .wrapper input:hover {
  background-color: rgba(52, 191, 255, 0.115);
  color: #0761dc;
}
.personal_information .pers_label {
  margin-bottom: 11px;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.personal_information .wrapper .box {
  display: flex;
  flex-direction: column;
}
.personal_information .pers_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 125px;
  width: 210px;
  height: 67px;
  background: #0761dc;
  border-radius: 3px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}
.personal_information .pers_btn:hover {
  background: #0c51b1;
}
