.battle_details {
  width: 100%;
  min-height: 2400px;
  background: url("../../img/battle_bg.svg") no-repeat center;
  background-size: cover;
  padding-top: 147px;
  padding-bottom: 300px;
}
.battle_details .container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  padding-top: 55px;
}
.battle_details img {
  width: 100%;
}
.battle_details .title {
  margin-top: 10px;
  width: 100%;
  height: 60px;
  display: flex;
}
.battle_details .title .nav {
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  color: #414d59;
  text-decoration: none;
  transition: 0.2s ease;
}
.battle_details .title .nav:hover {
  color: #ffffff;
}
.battle_details .title .active {
  transition: 0.1s ease;
  color: #ffffff;
  border-bottom: 2px solid #ffbb3d;
}
