.battle {
  width: 100%;
  min-height: 1550px;
  background: url("../../img/battle_bg.svg") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 147px;
  padding-bottom: 290px;
}
.battle .container {
  margin: 0 auto;
  width: 1200px;
  padding-top: 53px;
}
.battle .container h1 {
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  text-align: center;
}
.battle .block {
  margin-top: 37px;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
.battle .play_game {
  width: 100%;
  height: 310px;
  border-radius: 15px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}
.battle .play_game .platform {
  margin-left: 2.5%;
  width: 95%;
  height: 250px;
  border: none;
  border-radius: 15px;
  position: absolute;
}
.battle .content {
  margin-left: 2.5%;
  margin-top: 180px;
  position: absolute;
  width: 95%;
  height: 120px;
  background: #121b24;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 -5px 10px 1px rgb(66, 66, 66);
  transition: 0.2s ease;
}
.battle .content:hover {
  box-shadow: 0 0px 15px 5px #0761dc;
}
.battle .content .h1 {
  margin-top: 26px;
  text-align: start;
  font-weight: 200;
  width: 100%;
  height: 20px;
  color: #ffffff;
  font-size: 20px;
}
.battle .icons {
  margin-top: 20px;
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr;
  gap: 0.5rem;
}
.battle .icons span {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.battle .icons span img {
  width: 12px;
  height: 12px;
  margin-right: 3px;
}
.battle .btn {
  width: 100%;
  height: 20px;
  background: #0761dc;
  color: #ffffff;
  outline: none;
  border: none;
  font-weight: 300;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.battle .pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
.battle .page {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin-left: 15px;
  cursor: pointer;
  transition: 0.2s ease;
}
.battle .loading_div {
  width: 1200px;
  height: 978px;
  display: flex;
  justify-content: center;
  align-items: center;
}
