.top_up_balanse {
  width: 100%;
  height: 100%;
  background: url("../../img/top_up_BG.svg") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}
.top_up_balanse .container {
  margin: 0 auto;
  width: 1200px;
  height: 1430px;
  box-sizing: border-box;
}
.top_up_balanse .container .balance_text {
  padding-top: 199px;
  font-weight: 500;
  text-align: center;
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 64px;
}
.top_up_balanse .container .balance_btn {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 668px;
  height: 120px;
  border: 2px solid #0761dc;
  border-radius: 10px;
}
.top_up_balanse .container .balance_btn .master_text {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  padding-left: 43px;
}
.top_up_balanse .container .number_label {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}
.top_up_balanse .container .balance_btn img {
  width: 75px;
  height: 75px;
  padding-left: 39px;
}
.top_up_balanse .container .balance_block {
  margin: 0 auto;
  width: 668px;
  display: flex;
  flex-direction: column;
}
.top_up_balanse .container .balance_block label {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 35px;
}
.top_up_balanse .container .b_input {
  margin: 0 auto;
  margin-top: 11px;
  width: 668px;
  height: 120px;
  border: 2px solid #0761dc;
  border-radius: 10px;
  outline: none;
  background: #00000000;
  padding-left: 22px;
  font-weight: 400;
  font-size: 18px;
  color: #b4b2b2;
}
.top_up_balanse .input_center {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
.top_up_balanse .input_center input {
  margin-top: 11px;
  width: 100%;
  height: 120px;
  border: 2px solid #0761dc;
  border-radius: 10px;
  outline: none;
  background: #00000000;
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #b4b2b2;
}
.top_up_balanse .label_not {
  padding-top: 25px;
  background: #00000000;
}
.top_up_balanse .container .summa_input {
  margin-top: 11px;
  width: 668px;
  height: 120px;
  border: 2px solid #0761dc;
  border-radius: 10px;
  outline: none;
  background: #00000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #b4b2b2;
  padding-left: 22px;
}
.top_up_balanse .container .btn_end {
  margin: 71px auto;
  outline: none;
  border: none;
  cursor: pointer;
  width: 189px;
  height: 67px;
  background: #0761dc;
  border-radius: 3px;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}
.top_up_balanse .btn_end:hover {
  background: #0c51b1;
}
