.play {
  width: 100%;
  height: 1347px;
  box-sizing: border-box;
  padding-top: 147px;
  display: flex;
  justify-content: center;
}
.play .play_bg {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 394px;
}
.play .img {
  width: 100%;
  height: 394px;
  background: url("../../img/play_bg.svg") no-repeat center;
}
.play .play_bg div {
  width: 100%;
  position: relative;
}
.play .all {
  position: absolute;
  color: #ffffff;
  font-size: 20px;
  z-index: 10;
  margin-top: 110px;
  margin-left: 1080px;
  font-weight: 100;
  text-decoration: none;
}
.play .container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  box-sizing: border-box;
  padding-top: 125px;
  display: flex;
  justify-content: center;
}
.play h1 {
  width: 474px;
  color: #ffffff;
  font-size: 64px;
  line-height: 87px;
  color: #ffffff;
  position: absolute;
  z-index: 1;
}
.play .playing {
  position: absolute;
  margin-top: 110px;
  width: 1200px;
  height: 350px;
}
.play .play_game {
  height: 350px;
  border-radius: 15px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  display: flex;
  align-items: center;
}
.play .home_platform {
  cursor: grab;
}
.play .play_game .platform {
  margin-left: 2.5%;
  width: 95%;
  height: 250px;
  border: none;
  border-radius: 15px;
  position: absolute;
}
.play .content {
  margin-left: 2.5%;
  margin-top: 180px;
  position: absolute;
  width: 95%;
  height: 120px;
  background: #121b24;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 -5px 10px 1px rgb(66, 66, 66);
  transition: 0.3s ease-in;
}
.play .content:hover {
  box-shadow: 0 0px 15px 5px #0761dc;
}
.play .content .h1 {
  width: 100%;
  height: 20px;
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 10px;
}
.play .icons {
  margin-top: 60px;
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1.5fr;
  gap: 0.5rem;
}
.play .icons span {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.play .icons span img {
  width: 12px;
  height: 12px;
  margin-right: 3px;
}
.play .btn {
  width: 100%;
  height: 20px;
  background: #0761dc;
  color: #ffffff;
  outline: none;
  border: none;
  font-weight: 300;
  font-size: 15px;
  border-radius: 15px;
  cursor: pointer;
}
.play .loading_div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
