.private {
  width: 100%;
  min-height: 900px;
  background: url("../../img/Provate_BG.svg") no-repeat center;
  background-size: cover;
  padding-top: 147px;
}
.private .container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}
.private .cabinet {
  margin-top: 55px;
  width: 100%;
  height: 133px;
  display: flex;
}
.private .cabinet .photo {
  margin-right: 30px;
}
.private .div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.private .info {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.private .balance {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.private h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}
.private .setting_data {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-decoration-line: underline;
  color: #ffffff;
}
.private h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.private h3 img {
  margin-right: 12px;
}
.private .top_up {
  width: 165px;
  height: 55px;
  background: #0761dc;
  border-radius: 3px;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  cursor: pointer;
}
.private .top_up:hover {
  background: #0c51b1;
}
.private .line {
  margin-top: 25px;
  width: 100%;
  opacity: 0.1;
  border: 1px solid #ffffff;
  margin-bottom: 100px;
}
.private .icons {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 55px;
}
.private .icon {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.private .icon img {
  margin-right: 10px;
}
.private .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background: rgba(0, 0, 0, 0.577);
}
.private .modal .box {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background: #0761dc;
  border: 0.1px solid #ffffff;
}
.private .modal .box .ques {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  line-height: 27px;
  color: #ffffff;
}
.private .modal .box .btns {
  display: flex;
  justify-content: space-around;
}
.private .modal .box button {
  width: 100px;
  height: 50px;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #000;
  border: none;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 10px 25px black;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.private .modal .btns .yes:hover {
  box-shadow: 0 10px 15px red;
  color: red;
}
.private .modal .btns .not:hover {
  box-shadow: 0 10px 15px green;
  color: green;
}
