.registration {
  width: 100%;
  height: 900px;
  background: url("../../img/registration_bg.svg") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
  padding-top: 147px;
  margin-bottom: 140px;
}
.registration .container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  box-sizing: border-box;
  padding-top: 53px;
}
.registration .container h1 {
  color: white;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}
.registration .r-block {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
}
.registration .r-block input {
  width: 520px;
  height: 71px;
  border: 2px solid #0761dc;
  background: #00000000;
  border-radius: 10px;
  padding-left: 71px;
  font-weight: 400;
  font-size: 18px;
  color: #b4b2b2;
  margin-top: 22px;
  outline: none;
  transition: 0.2s ease;
}
.registration .r-block input:hover {
  background-color: rgba(52, 191, 255, 0.115);
  color: #0761dc;
}
.registration .registration1 {
  display: flex;
  flex-direction: column;
}
.registration .registration2 {
  display: flex;
  flex-direction: column;
}
.registration #add_r {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 245px;
  height: 62px;
  background: #0761dc;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  outline: none;
  border: none;
  color: #ffffff;
  margin-top: 70px;
  cursor: pointer;
}
.registration #add_r:hover {
  background: #0c51b1;
}
.registration .r_footer {
  margin: 0 auto;
  width: 550px;
  margin-top: 115px;
  font-weight: 400;
  font-size: 20px;
  color: #767676;
  display: flex;
  justify-content: space-between;
}
.registration .href a {
  text-decoration: none;
  color: #0761dc;
}
