.chavo {
  width: 100%;
  background: url("../../img/questions_bg.svg") no-repeat center;
  background-size: cover;
  height: 100%;
  padding-top: 55px;
}
.chavo .container {
  margin: 0 auto;
  width: 1200px;
  min-height: 800px;
}
