.header {
  width: 100%;
  height: 149px;
  background: url("../../img/header_bg.svg") no-repeat center;
  background-size: cover;
  position: absolute;
}
.header .container1 {
  margin: 0 auto;
  width: 1200px;
  height: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .adds {
  width: 320px;
  display: flex;
  justify-content: space-between;
}
.header .add1 {
  width: 165px;
  height: 39px;
  background: #0761dc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  text-decoration: none;
}
.header .add1:hover {
  background: #0c51b1;
}
.header .add2 {
  width: 123px;
  height: 39px;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.header .add2:hover {
  background: #e4e4e418;
}
.header .add2.active {
  background: #e4e4e418;
}
.header h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}
.header .home {
  width: 100%;
  height: 58px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #0761dc;
  z-index: 1;
}
.header .home::after {
  content: "";
  position: absolute;
  left: 0;
  width: 80%;
  height: 58px;
  background: rgba(23, 23, 23, 0.466);
}
.header .home::before {
  content: "";
  position: absolute;
  right: 0;
  width: 20%;
  height: 58px;
  border-top: 1px solid rgba(228, 228, 228, 0.2);
  border-left: 1px solid rgba(228, 228, 228, 0.2);
}
.header .container2 {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .menus {
  display: flex;
}
.header .menu {
  width: 163px;
  height: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.2s ease-in;
  z-index: 1;
}
.header .menu:hover {
  background: #0761dc;
}
.header .active {
  background: #0761dc;
}
.header .img.active {
  background: #00000000;
}
.header .icons {
  width: 132px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header .icons .site img {
  width: 24px;
  height: 24px;
  z-index: 1;
  transition: 0.3s ease;
}
.header .git {
  width: 27px;
  height: 27px;
  z-index: 1;
  border-radius: 50%;
  background: url("../../img/github_icon.png") no-repeat center;
  background-size: cover;
  transition: 0.4s ease;
}
.header .icons .site {
  width: 24px;
  height: 24px;
  z-index: 1;
  cursor: pointer;
}
.header .icons img:hover {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  box-shadow: 0 0 15px 5px #0761dc;
}
.header .icons .site:hover .git {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-shadow: 0 0 15px 5px #0761dc;
}
.header .container1 .image {
  width: 100%;
  transition: 0.2s ease;
}
.header .container1 .image:hover {
  width: 110%;
}
