.strainer{
    width: 100%;
    height: 1350px;
    background: url("../../img/battle_bg.svg") no-repeat center;
    background-size: cover;
    padding-top: 147px;
}
.strainer .container{
    margin: 0 auto;
    width: 1200px;
    height: 100%;
}