.play{
    width: 100%;
    height: 1347px;
    box-sizing: border-box;
    padding-top: 147px;
    background: #00000000;
    display: flex;
    justify-content: center;
}
.play .play_bg{
    position: absolute;
    margin: 0 auto;
    background: #00000000;
    width: 1440px;
    height: 394px;
}
.play .img{
    width: 1440px;
    height: 394px;
    background: url("../../img/play_bg.svg") no-repeat center;
    background-size: cover;
}
.play div{
    background: #00000000;
}
.play .slick-next{
    position: absolute;
    width: 20px;
    height: 40px;
    margin-left: -20%;
}
.play .container{
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    background: #00000000;
    box-sizing: border-box;
    padding-top: 125px;
    display: flex;
    justify-content: center;
}
.play h1{
    width: 474px;
    color: #ffffff;
    font-size: 64px;
    line-height: 87px;
    color: #FFFFFF;
    background: #00000000;
    position: absolute;
    z-index: 1;
}